.lose {
  background-color: rgb(21, 23, 30);
  position: absolute;
  z-index: 1;
  padding: 1em;
  text-align: center;
  border: 3px solid rgb(28, 32, 49);
  border-radius: 0.2em;
  margin-top: 8%;
}

.displaying {
  visibility: visible;
}

.not-displaying {
  visibility: hidden;
}

.lose .stats {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.lose .buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.lose .button {
  background-color: rgb(58, 63, 68);
  padding: 0.3rem;
  padding-inline: 2em;
}
